body {
    margin: 0;
} 

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.gallery {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.gallery-image {
    width: 360px;
    height: 200px;
}